@{
    ViewData["Title"] = "Home Page";
}
<h1>Layton Utah Temple Tour</h1>


<img src="~/Layton.jpg" />
<p>Info about tours blah blah blah blah blah</p>

<h4>Sign up for a time below:</h4>
<button asp-action="SignUp">Sign Up!</button>