@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Sign Up Form";
}

@model IS413Project1.Models.SignUp

<h1>@ViewBag.Title</h1>
<br />
<form asp-action="Index" method="post" class="m-2">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="NameOfGroup">Name of Group</label>
        <input asp-for="NameOfGroup" class="form-control" />
        <br />
    </div>
    <div class="form-group">
        <label asp-for="SizeOfGroup">Size of Group</label>
        <input asp-for="SizeOfGroup" class="form-control" />
        <br />
    </div>
    <div class="form-group">
        <label asp-for="EmailAddress">Email Address</label>
        <input asp-for="EmailAddress" class="form-control" />
        <br />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <br />
    </div>
    <button type="submit" class="btn btn-sm btn-outline-success">Submit and sign up!</button>



</form>
