@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.Title = "Time and Date";
}
@model TimeSlotViewModel

<h1>@ViewBag.Title</h1>
<h4>Please choose tour day and time: </h4>

<form asp-action="TimeInput" method="post">
    <select id="TimeSlotID" name="TimeSlotID">
        @foreach (TimeSlot x in Model.TimeSlots)
        {
            <option value="@x.TimeSlotID">@x.Day @x.Time</option>
            
        }

    </select>
    <br />

    @*<select asp-for="Time">
        <option value="8am">8 a.m.</option>
        <option value="9am">9 a.m.</option>
        <option value="10am">10 a.m.</option>
        <option value="11am">11 a.m.</option>
        <option value="12pm">12 p.m.</option>
        <option value="1pm">1 p.m.</option>
        <option value="1pm">2 p.m.</option>
        <option value="1pm">3 p.m.</option>
        <option value="1pm">4 p.m.</option>
        <option value="1pm">5 p.m.</option>
        <option value="1pm">6 p.m.</option>
        <option value="1pm">7 p.m.</option>
        <option value="1pm">8 p.m.</option>
    </select>*@
    <br />

    <button type="submit" class="btn btn-sm btn-outline-success">Proceed with this time</button>
</form>